#Thu Jun 06 12:11:42 CEST 2013

#General config
seed = 12
datacenter_places = italia, germania, spagna, francia
ram_increments = 	6,2,3,4,5,6
store_increments =	10,2,4,6,8,10
datacenter_sizes=	5,1,1,1,1,1
datacenter_number=	1

#ram_increments = 	6
#store_increments =	10
#datacenter_sizes =	3
#datacenter_number=	3


#DATACENTER CONFIG
cost_per_bw=1.0
cost_per_sec=1.0
cost_per_storage=1.0
cost_per_mem=1.0

#HOST CONFIG
storage_mb=870
bw_amount=10
ram_amount_mb=1.7
mips=250000
