#Thu Jun 06 12:11:42 CEST 2013

#General config
seed = 1
datacenter_places = italia, spagna, germania
datacenter_size=5
datacenter_number=	2187


#DATACENTER CONFIG
cost_per_bw=1.0
cost_per_sec=1.0
cost_per_storage=1.0
cost_per_mem=1.0

#HOST CONFIG
storage_mb=128
bw_amount=10
ram_amount_mb=4
mips=250000
